.mydetails {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  width: 50vw;
  z-index: 9999;
}

.details-cont {
  padding: 8% 10%;
}

.social-list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: inline-block;
  font-size: 25px;
  padding: 1% 2%;
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 3%;
}

.list-item:hover {
  background-color: rgb(224, 198, 236);
  font-size: 30px;
}

.list-item a {
  color: #000;
}

.profile-img {
  width: 40%;
  border-radius: 50%;
  border: 0;
}

.det-headings {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
}

.mydetails-p {
  font-size: 14px;
  margin-bottom: 4%;
}

.download-btn {
  text-decoration: none;
  background-color: #0e25f1;
  border: 0;
  border-radius: 20px;
  padding: 2% 5%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4%;
  color: #000;
}

.projects-cont {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.projects-cont-1 {
  background-color: #4152ee;
}

.projects-cont-2 {
  background-color: #f1f1f1;
}

.projects-cont-3 {
  background-color: goldenrod;
}

.projects-cont-4 {
  background-color: magenta;
}

.projects-cont-5 {
  background-color: mediumturquoise;
}

.projects-cont-6 {
  background-color: yellowgreen;
}

.projects-cont-7 {
  background-color: rebeccapurple;
}

.projects-cont-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100%;
  overflow-y: auto;
  padding: 10% 0;
}

.about-hr {
  width: 30%;
  border: 0;
  border-radius: 50%;
  border-top: 3px solid #fff;
  margin: 0;
}

.projects-slider {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 4%;
  justify-content: space-between;
}

.slider-cont {
  width: 75%;
}

.dir-btn {
  background-color: transparent;
  border: 0;
  font-size: 30px;
  cursor: pointer;
}

.slider-img img {
  width: 100%;
  border-radius: 20px;
}

.tech {
  border-radius: 10px;
  padding: 1%;
  font-size: 11px;
  margin-right: 2%;
  margin-top: 0;
  font-weight: bold;
}

.tech-1 {
  background-color: #7a7c85;
  color: #f2f897;
}

.tech-2 {
  background-color: #7498fc;
  color: #0631f0;
}

.tech-3 {
  background-color: #97989c;
  color: #3b3b3b;
}

.tech-4 {
  background-color: #e5eaf7;
  color: #1a41f3;
}

.tech-5 {
  background-color: #e5eaf7;
  color: #7a7c85;
}

.tech-6,
.tech-7 {
  background-color: #e5eaf7;
  color: #1a1a1a;
}

.select-btn {
  background-color: #8d8f9b;
  border: 0;
  border-radius: 20px;
  padding: 2% 5%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4%;
  color: #000;
  text-decoration: none;
  margin-right: 5px;
}

@media all and (max-width: 700px) {
  .mydetails,
  .projects-cont {
    position: static;
    width: 100vw;
  }

  .projects-cont-inner {
    width: 100vw;
  }

  .mydetails {
    padding: 10% 0;
  }

  .det-headings {
    flex-direction: column;
  }

  .profile-img {
    width: 60%;
    height: 220px;
  }

  .projects-slider {
    width: 100vw;
    padding: 3%;
  }
}
